@import "navbar.css";

body 
{
    background: url("ressources/AdobeStock_68495552Mini.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgroud-size: cover;
    background-size: cover;  
}

h1 {
    display: inline-block;
    margin-left: 100px;
    color: white;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.shape
{
    margin: 0 auto;
    width: 800px;
    vertical-align: middle;
    background: rgba(0, 255, 255, 0.8);
    border-radius: 30px;
    border: 15px solid grey;
    padding: 40px;
}

.texts{

    font-size: 20px;
}

.champs {
    display: inline-block;
    float: right;
}